<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://alfa2.io/thymeleaf"
      xml:lang="ja" lang="ja">
<div th:fragment="forms" th:remove="tag">
	<form action="" th:action="@{pdfExport}" method="post" th:object="${__${pdfForm}__}" id="pdfExportForm">
		<input type="hidden" th:field="*{searchList}" />
	</form>
	<form action="" th:action="@{pdfExportAll}" method="post" th:object="${__${pdfForm}__}" id="pdfExportAllForm">
		<s:allhidden form="${__${pdfForm}__}" formId="pdfExportAllForm" />
		<input type="hidden" th:field="*{searchList}" th:if="${useItemSaveWhenExportAll}" />
	</form>
</div>
</html>
