@charset "UTF-8";

body {
    font-family: 'lucida grande',tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
    font-size: 23pt;
    background-color: #FFFFFF;
    color: #333333;
    margin: 1px;
}

a {
    color: #003399;
    text-decoration: underline;
}

a:hover {
    color: #0066FF
}

a:active {
    color: #99CCFF;
    text-decoration: underline;
}

a:visited {
    color: #003399;
    text-decoration: underline;
}

/* error message */
.errorColor {
    background: red;
}

.error {
    color: red;
    font-weight: bold;
}

/*============================================================*
 * 改行禁止
 *============================================================*/
.td-nowrap {
    white-space: nowrap;
}

/*============================================================*
 * 改行許容（td、span要素は反映されない、ブラウザによっては未サポート）
 *============================================================*/
.wordwrap {
    word-wrap: break-word;
}

/*============================================================*
* 要素の寄せ
*============================================================*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*============================================================*
 * placeholderの色等
 *============================================================*/
.tipped {
    color: silver; /* #D3D3D3;*/
    padding-left: 2px;
}

/*============================================================*
* label要素
*============================================================*/
.label-required {
    font-weight:bold;
    color: #ff6c60;
}

.label-style, .label-style200, .label-style100, .label-style-right30,
.input-text,
.input-button,
.input-file,
.input-checkbox,
.input-radio,
.input-reset,
.input-submit,
.select-style,
.input-textarea,
.span-row-item {
}

.input-text{
   	font-size: 9pt;
   	border: 1px solid #666666;
}

.input-text2{
   	font-size: 9pt;
}

.label-style,
.label-style200,
.label-style100,
.label-style {
}

.label-style100 {
}

.label-style200 {
}

/*============================================================*
 * div要素
 *============================================================*/
.bold {
    font-weight: bold;
}

.row-item {
    padding-bottom: 2px;
    margin-bottom: 5px;
    display: table;
    content: "";
}

.row-item5 {
    margin-bottom: 5px;
}

.row-item10 {
    margin-bottom: 10px;
}

.row-item15 {
    margin-bottom: 15px;
}

.row-item20 {
    margin-bottom: 20px;
}

.row-item30 {
    margin-bottom: 30px;
}

/* エリア区切りに使用 */
.sep {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.border {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.footer-border {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5px;
}

.footer-copylight {
    margin-top: 20px;
}

.submenu-sep {
    margin-top: 15px;
}

.menu-right-panel {
    display: none;
}

.menu-right-panel-top {
    display: block;
}

.submenu-active {
    color: red;
}

#header {
    margin-bottom: 20px;
}

.span-header-logo {
    width: 150px;
}
.span-header-right{
	width: 1120px;
}

.row-fluid > .span-header-right {
    width: 87.5%;
}


.header-logo {
    width: 150px;
}

#header-right {
    margin-left: 0px;
}

.header-appname {
    margin-left: 10px;
    margin-right: 10px;
}

.header-date{
    margin-left: 10px;
}

.header-gyomu-title, .header-last-request{
	display: table-cell;
	vertical-align: middle;
}

.header-title {
    background-color: #8ad2db;
    color: #ffffff;
    font-size: 11pt;
    margin-bottom: 1px;
}

.header-info {
    background-color: #c7c7c7;
    color: navy;
    font-size: 10pt;
    margin-bottom: 2px;
}

.business-content, .message-content {
    margin-top: 10px;
    margin-left: 30px;
}

.message-root-container{
	margin-top : 50px;
	margin-bottom : 50px;
}

.message-head-container{
	margin-bottom : 30px;
}

.message-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom : 10px;
  zoom: 1;
}

.item-multi-color {
	margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; /* for IE6-7 */
    *display: inline; /* for IE6-7 */
	background-color: #e8efec;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    line-height: 15px;
}

.item-multi {
	margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; /* for IE6-7 */
    *display: inline; /* for IE6-7 */
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    line-height: 15px;
}

.item-row {
    background-color: #e8efec;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.empty-item-row {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    height: 23px;
}

.item-label {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; /* for IE6-7 */
    *display: inline; /* for IE6-7 */
}

.item-colon {
    float: left;
}

.item-input {
    background-color: #ffffff;
}

.label-kingaku {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1; /* for IE6-7 */
    *display: inline; /* for IE6-7 */
    width: 150px;
    text-align: right;
}

.label1 * div[class*="item-label"] {
    width: 40px;
}

.label2 * div[class*="item-label"] {
    width: 100px;
}

.label3 * div[class*="item-label"] {
    width: 160px;
}

.label4 * div[class*="item-label"] {
    width: 220px;
}

.label5 * div[class*="item-label"] {
    width: 280px;
}

.label6 * div[class*="item-label"] {
    width: 340px;
}

.label7 * div[class*="item-label"] {
    width: 400px;
}

.label8 * div[class*="item-label"] {
    width: 460px;
}

.label9 * div[class*="item-label"] {
    width: 520px;
}

.label10 * div[class*="item-label"] {
    width: 580px;
}

.button-actions, .grid-button-actions{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-actions{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.button-actions > button[class*="button"] {
    margin-left: 15px;
}

.th-crud-icon {
	width : 80px;
}

.crud-icon-content {
}

.crud-icon {
	display: inline-block;
}

/*============================================================*
 * For dataTables style
 *============================================================*/
/* 2012.03.19 shorten gap between datatable header and body. */
div.dataTables_scrollHeadInner table {
    margin-bottom: 1px;
}
/* 2012.03.19 shorten gap between datatable header and body. */
div.dataTables_scrollHeadInner table {
    margin-bottom: 0px;
}
div.dataTables_scrollBody table {
    margin-top: 3px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* grid layouts */
.rowhighlight tbody tr.even:hover, tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}

.rowhighlight tbody tr.odd:hover, tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}

.rowhighlight tr.even:hover td {
    background-color: #ECFFB3;
}

.rowhighlight tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
}

.rowhighlight tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
}

.rowhighlight tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
}

.rowhighlight tr.odd:hover td {
    background-color: #E6FF99;
}

.rowhighlight tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
}

.rowhighlight tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
}

.rowhighlight tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
}

.sorting_asc {
    background: url('../image/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../image/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../image/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../image/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../image/sort_desc_disabled.png') no-repeat center right;
}

.table1 { height: 1 px;}
.table2 { height: 2 px;}
.table3 { height: 3 px;}
.table4 { height: 4 px;}
.table5 { height: 5 px;}
.table6 { height: 6 px;}
.table7 { height: 7 px;}
.table8 { height: 8 px;}
.table9 { height: 9 px;}
.table10 { height: 10 px;}
.table11 { height: 11 px;}
.table12 { height: 12 px;}
.table13 { height: 13 px;}
.table14 { height: 14 px;}
.table15 { height: 15 px;}
.table16 { height: 16 px;}
.table17 { height: 17 px;}
.table18 { height: 18 px;}
.table19 { height: 19 px;}
.table20 { height: 20 px;}
.table21 { height: 21 px;}
.table22 { height: 22 px;}
.table23 { height: 23 px;}
.table24 { height: 24 px;}
.table25 { height: 25 px;}
.table26 { height: 26 px;}
.table27 { height: 27 px;}
.table28 { height: 28 px;}
.table29 { height: 29 px;}
.table30 { height: 30 px;}
.table31 { height: 31 px;}
.table32 { height: 32 px;}
.table33 { height: 33 px;}
.table34 { height: 34 px;}
.table35 { height: 35 px;}
.table36 { height: 36 px;}
.table37 { height: 37 px;}
.table38 { height: 38 px;}
.table39 { height: 39 px;}
.table40 { height: 40 px;}
.table41 { height: 41 px;}
.table42 { height: 42 px;}
.table43 { height: 43 px;}
.table44 { height: 44 px;}
.table45 { height: 45 px;}
.table46 { height: 46 px;}
.table47 { height: 47 px;}
.table48 { height: 48 px;}
.table49 { height: 49 px;}
.table50 { height: 50 px;}
.table51 { height: 51 px;}
.table52 { height: 52 px;}
.table53 { height: 53 px;}
.table54 { height: 54 px;}
.table55 { height: 55 px;}
.table56 { height: 56 px;}
.table57 { height: 57 px;}
.table58 { height: 58 px;}
.table59 { height: 59 px;}
.table60 { height: 60 px;}
.table61 { height: 61 px;}
.table62 { height: 62 px;}
.table63 { height: 63 px;}
.table64 { height: 64 px;}
.table65 { height: 65 px;}
.table66 { height: 66 px;}
.table67 { height: 67 px;}
.table68 { height: 68 px;}
.table69 { height: 69 px;}
.table70 { height: 70 px;}
.table71 { height: 71 px;}
.table72 { height: 72 px;}
.table73 { height: 73 px;}
.table74 { height: 74 px;}
.table75 { height: 75 px;}
.table76 { height: 76 px;}
.table77 { height: 77 px;}
.table78 { height: 78 px;}
.table79 { height: 79 px;}
.table80 { height: 80 px;}
.table81 { height: 81 px;}
.table82 { height: 82 px;}
.table83 { height: 83 px;}
.table84 { height: 84 px;}
.table85 { height: 85 px;}
.table86 { height: 86 px;}
.table87 { height: 87 px;}
.table88 { height: 88 px;}
.table89 { height: 89 px;}
.table90 { height: 90 px;}
.table91 { height: 91 px;}
.table92 { height: 92 px;}
.table93 { height: 93 px;}
.table94 { height: 94 px;}
.table95 { height: 95 px;}
.table96 { height: 96 px;}
.table97 { height: 97 px;}
.table98 { height: 98 px;}
.table99 { height: 99 px;}
.table100 { height: 100 px;}
.table101 { height: 101 px;}
.table102 { height: 102 px;}
.table103 { height: 103 px;}
.table104 { height: 104 px;}
.table105 { height: 105 px;}
.table106 { height: 106 px;}
.table107 { height: 107 px;}
.table108 { height: 108 px;}
.table109 { height: 109 px;}
.table110 { height: 110 px;}
.table111 { height: 111 px;}
.table112 { height: 112 px;}
.table113 { height: 113 px;}
.table114 { height: 114 px;}
.table115 { height: 115 px;}
.table116 { height: 116 px;}
.table117 { height: 117 px;}
.table118 { height: 118 px;}
.table119 { height: 119 px;}
.table120 { height: 120 px;}
.table121 { height: 121 px;}
.table122 { height: 122 px;}
.table123 { height: 123 px;}
.table124 { height: 124 px;}
.table125 { height: 125 px;}
.table126 { height: 126 px;}
.table127 { height: 127 px;}
.table128 { height: 128 px;}
.table129 { height: 129 px;}
.table130 { height: 130 px;}
.table131 { height: 131 px;}
.table132 { height: 132 px;}
.table133 { height: 133 px;}
.table134 { height: 134 px;}
.table135 { height: 135 px;}
.table136 { height: 136 px;}
.table137 { height: 137 px;}
.table138 { height: 138 px;}
.table139 { height: 139 px;}
.table140 { height: 140 px;}
.table141 { height: 141 px;}
.table142 { height: 142 px;}
.table143 { height: 143 px;}
.table144 { height: 144 px;}
.table145 { height: 145 px;}
.table146 { height: 146 px;}
.table147 { height: 147 px;}
.table148 { height: 148 px;}
.table149 { height: 149 px;}
.table150 { height: 150 px;}
.table151 { height: 151 px;}
.table152 { height: 152 px;}
.table153 { height: 153 px;}
.table154 { height: 154 px;}
.table155 { height: 155 px;}
.table156 { height: 156 px;}
.table157 { height: 157 px;}
.table158 { height: 158 px;}
.table159 { height: 159 px;}
.table160 { height: 160 px;}
.table161 { height: 161 px;}
.table162 { height: 162 px;}
.table163 { height: 163 px;}
.table164 { height: 164 px;}
.table165 { height: 165 px;}
.table166 { height: 166 px;}
.table167 { height: 167 px;}
.table168 { height: 168 px;}
.table169 { height: 169 px;}
.table170 { height: 170 px;}
.table171 { height: 171 px;}
.table172 { height: 172 px;}
.table173 { height: 173 px;}
.table174 { height: 174 px;}
.table175 { height: 175 px;}
.table176 { height: 176 px;}
.table177 { height: 177 px;}
.table178 { height: 178 px;}
.table179 { height: 179 px;}
.table180 { height: 180 px;}
.table181 { height: 181 px;}
.table182 { height: 182 px;}
.table183 { height: 183 px;}
.table184 { height: 184 px;}
.table185 { height: 185 px;}
.table186 { height: 186 px;}
.table187 { height: 187 px;}
.table188 { height: 188 px;}
.table189 { height: 189 px;}
.table190 { height: 190 px;}
.table191 { height: 191 px;}
.table192 { height: 192 px;}
.table193 { height: 193 px;}
.table194 { height: 194 px;}
.table195 { height: 195 px;}
.table196 { height: 196 px;}
.table197 { height: 197 px;}
.table198 { height: 198 px;}
.table199 { height: 199 px;}
.table200 { height: 200 px;}
.table201 { height: 201 px;}
.table202 { height: 202 px;}
.table203 { height: 203 px;}
.table204 { height: 204 px;}
.table205 { height: 205 px;}
.table206 { height: 206 px;}
.table207 { height: 207 px;}
.table208 { height: 208 px;}
.table209 { height: 209 px;}
.table210 { height: 210 px;}
.table211 { height: 211 px;}
.table212 { height: 212 px;}
.table213 { height: 213 px;}
.table214 { height: 214 px;}
.table215 { height: 215 px;}
.table216 { height: 216 px;}
.table217 { height: 217 px;}
.table218 { height: 218 px;}
.table219 { height: 219 px;}
.table220 { height: 220 px;}
.table221 { height: 221 px;}
.table222 { height: 222 px;}
.table223 { height: 223 px;}
.table224 { height: 224 px;}
.table225 { height: 225 px;}
.table226 { height: 226 px;}
.table227 { height: 227 px;}
.table228 { height: 228 px;}
.table229 { height: 229 px;}
.table230 { height: 230 px;}
.table231 { height: 231 px;}
.table232 { height: 232 px;}
.table233 { height: 233 px;}
.table234 { height: 234 px;}
.table235 { height: 235 px;}
.table236 { height: 236 px;}
.table237 { height: 237 px;}
.table238 { height: 238 px;}
.table239 { height: 239 px;}
.table240 { height: 240 px;}
.table241 { height: 241 px;}
.table242 { height: 242 px;}
.table243 { height: 243 px;}
.table244 { height: 244 px;}
.table245 { height: 245 px;}
.table246 { height: 246 px;}
.table247 { height: 247 px;}
.table248 { height: 248 px;}
.table249 { height: 249 px;}
.table250 { height: 250 px;}
.table251 { height: 251 px;}
.table252 { height: 252 px;}
.table253 { height: 253 px;}
.table254 { height: 254 px;}
.table255 { height: 255 px;}
.table256 { height: 256 px;}
.table257 { height: 257 px;}
.table258 { height: 258 px;}
.table259 { height: 259 px;}
.table260 { height: 260 px;}
.table261 { height: 261 px;}
.table262 { height: 262 px;}
.table263 { height: 263 px;}
.table264 { height: 264 px;}
.table265 { height: 265 px;}
.table266 { height: 266 px;}
.table267 { height: 267 px;}
.table268 { height: 268 px;}
.table269 { height: 269 px;}
.table270 { height: 270 px;}
.table271 { height: 271 px;}
.table272 { height: 272 px;}
.table273 { height: 273 px;}
.table274 { height: 274 px;}
.table275 { height: 275 px;}
.table276 { height: 276 px;}
.table277 { height: 277 px;}
.table278 { height: 278 px;}
.table279 { height: 279 px;}
.table280 { height: 280 px;}
.table281 { height: 281 px;}
.table282 { height: 282 px;}
.table283 { height: 283 px;}
.table284 { height: 284 px;}
.table285 { height: 285 px;}
.table286 { height: 286 px;}
.table287 { height: 287 px;}
.table288 { height: 288 px;}
.table289 { height: 289 px;}
.table290 { height: 290 px;}
.table291 { height: 291 px;}
.table292 { height: 292 px;}
.table293 { height: 293 px;}
.table294 { height: 294 px;}
.table295 { height: 295 px;}
.table296 { height: 296 px;}
.table297 { height: 297 px;}
.table298 { height: 298 px;}
.table299 { height: 299 px;}
.table300 { height: 300 px;}
.table301 { height: 301 px;}
.table302 { height: 302 px;}
.table303 { height: 303 px;}
.table304 { height: 304 px;}
.table305 { height: 305 px;}
.table306 { height: 306 px;}
.table307 { height: 307 px;}
.table308 { height: 308 px;}
.table309 { height: 309 px;}
.table310 { height: 310 px;}
.table311 { height: 311 px;}
.table312 { height: 312 px;}
.table313 { height: 313 px;}
.table314 { height: 314 px;}
.table315 { height: 315 px;}
.table316 { height: 316 px;}
.table317 { height: 317 px;}
.table318 { height: 318 px;}
.table319 { height: 319 px;}
.table320 { height: 320 px;}
.table321 { height: 321 px;}
.table322 { height: 322 px;}
.table323 { height: 323 px;}
.table324 { height: 324 px;}
.table325 { height: 325 px;}
.table326 { height: 326 px;}
.table327 { height: 327 px;}
.table328 { height: 328 px;}
.table329 { height: 329 px;}
.table330 { height: 330 px;}
.table331 { height: 331 px;}
.table332 { height: 332 px;}
.table333 { height: 333 px;}
.table334 { height: 334 px;}
.table335 { height: 335 px;}
.table336 { height: 336 px;}
.table337 { height: 337 px;}
.table338 { height: 338 px;}
.table339 { height: 339 px;}
.table340 { height: 340 px;}
.table341 { height: 341 px;}
.table342 { height: 342 px;}
.table343 { height: 343 px;}
.table344 { height: 344 px;}
.table345 { height: 345 px;}
.table346 { height: 346 px;}
.table347 { height: 347 px;}
.table348 { height: 348 px;}
.table349 { height: 349 px;}
.table350 { height: 350 px;}
.table351 { height: 351 px;}
.table352 { height: 352 px;}
.table353 { height: 353 px;}
.table354 { height: 354 px;}
.table355 { height: 355 px;}
.table356 { height: 356 px;}
.table357 { height: 357 px;}
.table358 { height: 358 px;}
.table359 { height: 359 px;}
.table360 { height: 360 px;}
.table361 { height: 361 px;}
.table362 { height: 362 px;}
.table363 { height: 363 px;}
.table364 { height: 364 px;}
.table365 { height: 365 px;}
.table366 { height: 366 px;}
.table367 { height: 367 px;}
.table368 { height: 368 px;}
.table369 { height: 369 px;}
.table370 { height: 370 px;}
.table371 { height: 371 px;}
.table372 { height: 372 px;}
.table373 { height: 373 px;}
.table374 { height: 374 px;}
.table375 { height: 375 px;}
.table376 { height: 376 px;}
.table377 { height: 377 px;}
.table378 { height: 378 px;}
.table379 { height: 379 px;}
.table380 { height: 380 px;}
.table381 { height: 381 px;}
.table382 { height: 382 px;}
.table383 { height: 383 px;}
.table384 { height: 384 px;}
.table385 { height: 385 px;}
.table386 { height: 386 px;}
.table387 { height: 387 px;}
.table388 { height: 388 px;}
.table389 { height: 389 px;}
.table390 { height: 390 px;}
.table391 { height: 391 px;}
.table392 { height: 392 px;}
.table393 { height: 393 px;}
.table394 { height: 394 px;}
.table395 { height: 395 px;}
.table396 { height: 396 px;}
.table397 { height: 397 px;}
.table398 { height: 398 px;}
.table399 { height: 399 px;}
.table400 { height: 400 px;}
.table401 { height: 401 px;}
.table402 { height: 402 px;}
.table403 { height: 403 px;}
.table404 { height: 404 px;}
.table405 { height: 405 px;}
.table406 { height: 406 px;}
.table407 { height: 407 px;}
.table408 { height: 408 px;}
.table409 { height: 409 px;}
.table410 { height: 410 px;}
.table411 { height: 411 px;}
.table412 { height: 412 px;}
.table413 { height: 413 px;}
.table414 { height: 414 px;}
.table415 { height: 415 px;}
.table416 { height: 416 px;}
.table417 { height: 417 px;}
.table418 { height: 418 px;}
.table419 { height: 419 px;}
.table420 { height: 420 px;}
.table421 { height: 421 px;}
.table422 { height: 422 px;}
.table423 { height: 423 px;}
.table424 { height: 424 px;}
.table425 { height: 425 px;}
.table426 { height: 426 px;}
.table427 { height: 427 px;}
.table428 { height: 428 px;}
.table429 { height: 429 px;}
.table430 { height: 430 px;}
.table431 { height: 431 px;}
.table432 { height: 432 px;}
.table433 { height: 433 px;}
.table434 { height: 434 px;}
.table435 { height: 435 px;}
.table436 { height: 436 px;}
.table437 { height: 437 px;}
.table438 { height: 438 px;}
.table439 { height: 439 px;}
.table440 { height: 440 px;}
.table441 { height: 441 px;}
.table442 { height: 442 px;}
.table443 { height: 443 px;}
.table444 { height: 444 px;}
.table445 { height: 445 px;}
.table446 { height: 446 px;}
.table447 { height: 447 px;}
.table448 { height: 448 px;}
.table449 { height: 449 px;}
.table450 { height: 450 px;}
.table451 { height: 451 px;}
.table452 { height: 452 px;}
.table453 { height: 453 px;}
.table454 { height: 454 px;}
.table455 { height: 455 px;}
.table456 { height: 456 px;}
.table457 { height: 457 px;}
.table458 { height: 458 px;}
.table459 { height: 459 px;}
.table460 { height: 460 px;}
.table461 { height: 461 px;}
.table462 { height: 462 px;}
.table463 { height: 463 px;}
.table464 { height: 464 px;}
.table465 { height: 465 px;}
.table466 { height: 466 px;}
.table467 { height: 467 px;}
.table468 { height: 468 px;}
.table469 { height: 469 px;}
.table470 { height: 470 px;}
.table471 { height: 471 px;}
.table472 { height: 472 px;}
.table473 { height: 473 px;}
.table474 { height: 474 px;}
.table475 { height: 475 px;}
.table476 { height: 476 px;}
.table477 { height: 477 px;}
.table478 { height: 478 px;}
.table479 { height: 479 px;}
.table480 { height: 480 px;}
.table481 { height: 481 px;}
.table482 { height: 482 px;}
.table483 { height: 483 px;}
.table484 { height: 484 px;}
.table485 { height: 485 px;}
.table486 { height: 486 px;}
.table487 { height: 487 px;}
.table488 { height: 488 px;}
.table489 { height: 489 px;}
.table490 { height: 490 px;}
.table491 { height: 491 px;}
.table492 { height: 492 px;}
.table493 { height: 493 px;}
.table494 { height: 494 px;}
.table495 { height: 495 px;}
.table496 { height: 496 px;}
.table497 { height: 497 px;}
.table498 { height: 498 px;}
.table499 { height: 499 px;}
.table500 { height: 500 px;}
.table501 { height: 501 px;}
.table502 { height: 502 px;}
.table503 { height: 503 px;}
.table504 { height: 504 px;}
.table505 { height: 505 px;}
.table506 { height: 506 px;}
.table507 { height: 507 px;}
.table508 { height: 508 px;}
.table509 { height: 509 px;}
.table510 { height: 510 px;}
.table511 { height: 511 px;}
.table512 { height: 512 px;}
.table513 { height: 513 px;}
.table514 { height: 514 px;}
.table515 { height: 515 px;}
.table516 { height: 516 px;}
.table517 { height: 517 px;}
.table518 { height: 518 px;}
.table519 { height: 519 px;}
.table520 { height: 520 px;}
.table521 { height: 521 px;}
.table522 { height: 522 px;}
.table523 { height: 523 px;}
.table524 { height: 524 px;}
.table525 { height: 525 px;}
.table526 { height: 526 px;}
.table527 { height: 527 px;}
.table528 { height: 528 px;}
.table529 { height: 529 px;}
.table530 { height: 530 px;}
.table531 { height: 531 px;}
.table532 { height: 532 px;}
.table533 { height: 533 px;}
.table534 { height: 534 px;}
.table535 { height: 535 px;}
.table536 { height: 536 px;}
.table537 { height: 537 px;}
.table538 { height: 538 px;}
.table539 { height: 539 px;}
.table540 { height: 540 px;}
.table541 { height: 541 px;}
.table542 { height: 542 px;}
.table543 { height: 543 px;}
.table544 { height: 544 px;}
.table545 { height: 545 px;}
.table546 { height: 546 px;}
.table547 { height: 547 px;}
.table548 { height: 548 px;}
.table549 { height: 549 px;}
.table550 { height: 550 px;}
.table551 { height: 551 px;}
.table552 { height: 552 px;}
.table553 { height: 553 px;}
.table554 { height: 554 px;}
.table555 { height: 555 px;}
.table556 { height: 556 px;}
.table557 { height: 557 px;}
.table558 { height: 558 px;}
.table559 { height: 559 px;}
.table560 { height: 560 px;}
.table561 { height: 561 px;}
.table562 { height: 562 px;}
.table563 { height: 563 px;}
.table564 { height: 564 px;}
.table565 { height: 565 px;}
.table566 { height: 566 px;}
.table567 { height: 567 px;}
.table568 { height: 568 px;}
.table569 { height: 569 px;}
.table570 { height: 570 px;}
.table571 { height: 571 px;}
.table572 { height: 572 px;}
.table573 { height: 573 px;}
.table574 { height: 574 px;}
.table575 { height: 575 px;}
.table576 { height: 576 px;}
.table577 { height: 577 px;}
.table578 { height: 578 px;}
.table579 { height: 579 px;}
.table580 { height: 580 px;}
.table581 { height: 581 px;}
.table582 { height: 582 px;}
.table583 { height: 583 px;}
.table584 { height: 584 px;}
.table585 { height: 585 px;}
.table586 { height: 586 px;}
.table587 { height: 587 px;}
.table588 { height: 588 px;}
.table589 { height: 589 px;}
.table590 { height: 590 px;}
.table591 { height: 591 px;}
.table592 { height: 592 px;}
.table593 { height: 593 px;}
.table594 { height: 594 px;}
.table595 { height: 595 px;}
.table596 { height: 596 px;}
.table597 { height: 597 px;}
.table598 { height: 598 px;}
.table599 { height: 599 px;}
.table600 { height: 600 px;}

.table700{
    height: 700px;
}

.table800{
    height: 800px;
}


.button-middle{
    font-size: 90%;
}

.button-small{
    font-size: 80%;
}

.button-xsmall{
    font-size: 50%;
}

.table-actions{
	float: left;
}

.toggle-nav {
	width: 110px;
	margin-bottom: 4px;
}

.pagination{
	height:36px;margin:18px 0;
}
.pagination ul{
	float:left;
	margin-left:10px;
	border:1px solid #ddd;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li{
	display:inline;
}
.pagination a{
	float:left;
	padding:0 14px;
	line-height:20px;
	border-right:1px solid;
	border-right-color:#ddd;
	border-right-color:rgba(0, 0, 0, 0.15);
	*border-right-color:#ddd;
	text-decoration:none;
}

.pagination a:hover,.pagination .active a{
	background-color:#fbffc7;
}

.pagination .disabled a,.pagination .disabled a:hover{
	background-color:transparent;color:#aaaaaa;
}

.pagination .last a{
	border:0;
}
