<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://alfa2.io/thymeleaf" xml:lang="ja" lang="ja">
<div th:fragment="css" th:remove="tag">
    <link rel="stylesheet" media="all" type="text/css"
        href='./../../../assets/lib/jquery/jquery-ui/css/theme/jquery-ui-1.10.2.custom.css'
        th:href="@{/assets/lib/jquery/jquery-ui/css/theme/jquery-ui-1.10.2.custom.css}" />

    <link rel="stylesheet" media="all" type="text/css"
          href='./../../../assets/lib/jquery/tablesorter/themes/blue/style.css'
          th:href="@{/assets/lib/jquery/tablesorter/themes/blue/style.css}"/>

    <link rel="stylesheet" media="all" type="text/css"
          href='./../../../assets/lib/jquery/clearable_text_field/css/jquery.clearableTextField.css'
          th:href="@{/assets/lib/jquery/clearable_text_field/css/jquery.clearableTextField.css}"/>

    <link rel="stylesheet" media="all" type="text/css"
          href='./../../../assets/lib/jquery/jquery-megamenu/css/jquery.megamenu.css'
          th:href="@{/assets/lib/jquery/jquery-megamenu/css/jquery.megamenu.css}"/>

    <link rel="stylesheet" media="all" type="text/css"
          href='./../../../assets/lib/jquery/jquery-ui-bootstrap/bootstrap/bootstrap.css'
          th:href="@{/assets/lib/jquery/jquery-ui-bootstrap/bootstrap/bootstrap.css}"/>


    <link rel="stylesheet" media="all" type="text/css" href='./../../../assets/css/common.css'
          th:href="@{/assets/css/common.css}"/>
    <link rel="stylesheet" media="all" type="text/css" href='./../../../assets/css/decorators.css'
          th:href="@{/assets/css/decorators.css}"/>          
    <link rel="stylesheet" media="all" type="text/css" href='./../../../assets/css/wx-common.css'
          th:href="@{/assets/css/wx-common.css}"/>
	
</div>
</html>
