<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://alfa2.io/thymeleaf" xml:lang="ja" lang="ja">
<div th:fragment="js" th:remove="tag">
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery-1.11.1.js'
            th:src="@{/assets/lib/jquery/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery-ui/js/jquery-ui-1.10.2.custom.min.js'
            th:src="@{/assets/lib/jquery/jquery-ui/js/jquery-ui-1.10.2.custom.min.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery-ui/js/i18n/jquery-ui-i18n.js'
            th:src="@{/assets/lib/jquery/jquery-ui/js/i18n/jquery-ui-i18n.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/DataTables/js/jquery.dataTables.min.js'
            th:src="@{/assets/lib/jquery/DataTables/js/jquery.dataTables.min.js}"></script>

    <script type="text/javascript" src='../../../assets/lib/jquery/highlight/jquery.highlight.js'
            th:src="@{/assets/lib/jquery/highlight/jquery.highlight.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery-formtips/jquery.formtips.1.2.5.js'
            th:src="@{/assets/lib/jquery/jquery-formtips/jquery.formtips.1.2.5.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/clearable_text_field/js/jquery.clearableTextField.js'
            th:src="@{/assets/lib/jquery/clearable_text_field/js/jquery.clearableTextField.min.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery.treeview/js/jquery.cookie.js'
            th:src="@{/assets/lib/jquery/jquery.treeview/js/jquery.cookie.js}"></script>
    <script type="text/javascript" src='../../../assets/lib/jquery/jquery-megamenu/js/jquery.megamenu.js'
            th:src="@{/assets/lib/jquery/jquery-megamenu/js/jquery.megamenu.js}"></script>


    <script type="text/javascript" src='../../../assets/js/common.js' th:src="@{/assets/js/common.js}"></script>
    <script type="text/javascript" src='../../../assets/js/wx.js' th:src="@{/assets/js/wx.js}"></script>
    <script type="text/javascript" src='../../../assets/js/extends.js' th:src="@{/assets/js/extends.js}"></script>
    <script type="text/javascript" src='../../../assets/js/wx-extends.js' th:src="@{/assets/js/wx-extends.js}"></script>
</div>
</html>
